/* body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
} */

.swiper {
    width: 100%;
    /* margin: 100px;
    padding: 50px; */
    height: 100%;
}

.swiper-slide {
    /* text-align: center; */
    font-size: 23px;
    /* background: blanchedalmond; */
    width: 28rem !important;

    /* Center slide text vertically */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}



